[Desktop Entry]
Name=Brain Workshop
Comment=A free open-source version of the Dual N-Back mental exercise
Exec=brainworkshop
Icon=brainworkshop
Categories=Education;Game;LogicGame;
Terminal=false
Type=Application
Keywords=brain;training;dual;nback;
StartupNotify=true
